.table-card {
  padding: 0;
  margin-bottom: 40px;
  border-radius: 8px;
}

.table-header {
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0;
}
.xml-button{
  display: flex;
  justify-content: center;
}
