@use 'ag-grid-community/styles' as ag;
@include ag.grid-styles(
  (
    theme: quartz,
  )
);

.ag-theme-quartz {
  width: 100%;
  margin: auto;
}

.cell-disabled {
  background: var(--bg2-light);
  opacity: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--detail);
  cursor: not-allowed;

  &::after {
    content: "ø";
  }
}
