@import '../../../variables';

$gap: 12px;

.pager-container,
form {
  min-width: min(720px, 90vw);
  width: 720px;
  max-width: 90vw;
  display: flex;
}
.indigo-stripe {
  position: absolute;
  right: 0;
  left: 0;
  height: 8px;
  width: 100%;
  margin-bottom: 0;
  background-color: var(--indigo600);
  border-radius: 4px 4px 0 0;
}
.gray-stripe {
  background-color: #e0e0e0;
  width: 100%;
  height: 1px;
}
.image-container {
  margin-left: 7px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .logo {
    height: calc($logoHeight / 4);
    width: calc($logoWidth / 4);
    margin-top: 8px;
  }
}
.image-text {
  font-size: 13px;
  margin-left: 5px;
  padding: $gap;
}
.pager-container {
  margin: 0 auto;
  height: calc(100vh - 2 * #{$bodyPaddingVertical});
  height: calc(100dvh - 2 * #{$bodyPaddingVertical});
  max-height: calc(100vh - 2 * #{$bodyPaddingVertical});
  max-height: calc(100dvh - 2 * #{$bodyPaddingVertical});
  overflow: hidden;

  > * {
    position: relative;
    left: calc(-100% * var(--_pager-page));
    transition: left 0.35s ease;
  }
}
.page-container {
  display: flex;
  flex-direction: column;
  gap: $gap - 4px;
}
form {
  padding: 0 4px 4px 4px;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
}
mat-card {
  padding: 0 16px;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: $gap;
  }
}
mat-card-header {
  font-size: 18px;
  font-weight: 500;
}
mat-card-content {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
mat-form-field {
  width: 288px;
  max-width: 100%;

  &.full-size {
    width: 100%;
  }
}
mat-divider {
  width: 100%;
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
}
.accordion-content {
  padding: 1.5rem 0.5rem 0 0.5rem;
}
.reset-button-container {
  position: relative;
}
.reset-button {
  position: absolute;
  right: 0;
  bottom: $gap - 4px;
  pointer-events: none;
  opacity: 0;
  appearance: none;

  &.active {
    pointer-events: all;
    opacity: 1;
    appearance: auto;
  }
}
mat-card-actions {
  display: flex;
  gap: 24px;
}
mat-accordion {
  margin-bottom: 0.75rem;
}
.browser-button {
  margin-left: auto;
}
.buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 4px;
}
.progress-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.progress-indicator {
  display: flex;
  align-items: center;
  gap: 1ch;
}
.loading-icon {
  height: 24px;

  &.invisible {
    opacity: 0;
    transform: scale(0);
  }
}

mat-card {
  padding: 0 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
mat-card-header {
  font-size: 18px;
  font-weight: 500;
}
mat-card-content {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;

  &.compact {
    padding-top: 0.25rem;
  }
  &.question-card-content {
    padding: 1.25rem 0 0 1rem;
    display: flex;
    justify-content: stretch;
    flex-direction: row;
    gap: 0.25rem;
  }
}
.question-card {
  &:hover {
    .select-container {
      padding-right: 0;
    }
    .question-buttons-container {
      display: flex;
    }
  }
}
.select-container {
  flex-grow: 1;
  padding-right: 1rem;
}
.question-buttons-container {
  width: max-content;
  padding-bottom: 22px;
  align-items: center;
  display: none;

  .edit-button {
    &:hover,
    &:focus-visible {
      color: var(--indigo700);
    }
  }
  .delete-button {
    &:hover,
    &:focus-visible {
      color: var(--red-dark);
    }
  }
}
mat-form-field {
  width: 288px;
  max-width: 100%;

  &.full-size {
    width: 100%;
  }
}
textarea {
  min-height: 12em;
  max-height: 22rem;
}
.ruling-text {
  padding-top: 12px;
}
mat-card-actions {
  display: flex;
  gap: 24px;
}
.progress-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.progress-indicator {
  display: flex;
  align-items: center;
  gap: 1ch;
}
.loading-icon {
  height: 24px;

  &.is-loaded-true {
    color: var(--green);
  }
  &.is-loaded-ERROR {
    color: rgb(var(--danger-700));
  }

  mat-spinner {
    width: 24px !important;
    height: 24px !important;
  }
}
.divided-card {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.checkbox-container {
  align-self: flex-end;
  position: relative;
  left: 12px;
  top: 10px;

  .mdc-checkbox {
    position: relative;
    left: 4px;
  }
}
mat-checkbox {
  user-select: none;
}
.fab-container {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
//! conversations
.pager-container {
  mat-card-header {
    position: relative;
  }
  .conversation-button {
    position: absolute;
    right: -8px;
    top: 8px;
  }
}
//! independent question
.search-button-container {
  display: flex;
  gap: 24px;
}
.add-question-btn {
  width: 100%;
  min-height: 80px;
  border-radius: 6px;
  border: 2px dashed #808080;
  display: flex;
  gap: 1ch;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  letter-spacing: 0.3px;
  background-color: transparent;
  transition: background-color 0.15s ease;
  outline: none;

  span {
    opacity: 0.8;
  }
  mat-icon {
    font-size: 24px !important;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
  &:focus-visible {
    background-color: rgba(0, 0, 0, 0.12);
  }
  &:active {
    background-color: rgba(0, 0, 0, 0.08);
  }
  &.small {
    min-height: 60px;
  }
}
.independent-markdown.error {
  color: var(--error);
}
