<div class="fab-container">
  <app-search-fab
    [(active)]="searchService.searchActive"
    [current]="searchService.current()"
    [total]="searchService.total()"
    [isNoRuling]="!nsaService.rulingResponse()"
    [isRulingManual]="!!nsaService.rulingError()"
    [searchPhrase]="searchService.searchPhrase()"
    (searchPhraseChange)="onSearchChange($event)"
    (clickNext)="searchService.next()"
    (clickPrev)="searchService.prev()"
  />
</div>
<div class="pager-container" [style]="'--_pager-page:' + currentPagerPage()">
  <div class="page-container">
    <form [formGroup]="nsaFormPart1" (ngSubmit)="getCourtRuling()">
      <mat-card>
        <div class="indigo-stripe"></div>
        <div class="image-container">
          <img src="assets\images\GWW-logo.png" class="logo" />
        </div>
        <div class="gray-stripe"></div>
        <span class="image-text">Aplikacja do orzeczeń sądowych</span>
      </mat-card>
      <mat-card>
        <mat-card-header>
          Sygnatura sprawy NSA
          <app-required-star />
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <input
              matInput
              placeholder="np. III FSK 4005/21"
              formControlName="caseSignature"
              #caseSigntaureInput
            />
            <mat-error>To pole jest wymagane</mat-error>
          </mat-form-field>
          @if (nsaService.rulingRequestState() === 'error') {
          <strong>Wystąpił błąd!</strong>
          <div>
            @for (paragraph of nsaService.rulingError(); track $index) {
            <div [innerHTML]="paragraph"></div>
            }
            <div class="ruling-text">
              <mat-form-field class="full-size">
                <textarea
                  matInput
                  placeholder="Treść orzeczenia"
                  formControlName="rulingText"
                ></textarea>
              </mat-form-field>
            </div>
          </div>
          } @if (nsaService.rulingRequestState() !== 'error') {
          <mat-card-actions>
            <div [matTooltip]="getCourtRulingButtonTooltip()">
              <button
                mat-flat-button
                color="primary"
                type="submit"
                [disabled]="isFindCaseButtonDisabled"
              >
                Wyszukaj
              </button>
            </div>
            @if (nsaService.isRulingLoading()) {
            <div class="spinner-container">
              <mat-spinner />
            </div>
            }
          </mat-card-actions>
          } @if (nsaService.rulingRequestState() === 'success') {
          <mat-card-footer>
            <strong>Znaleziono orzeczenie:</strong>
            <div
              #rulingTextEl
              [innerHTML]="searchService.highlightedText()"
            ></div>
          </mat-card-footer>
          }
        </mat-card-content>
      </mat-card>
    </form>
    <div class="buttons-container">
      <div></div>
      <div>
        <button
          mat-raised-button
          type="button"
          color="primary"
          [disabled]="disabledNextPage()"
          (click)="part1NextPage()"
        >
          Dalej
        </button>
      </div>
    </div>
  </div>
  <div class="page-container">
    <form [formGroup]="nsaFormPart2">
      <mat-card>
        <mat-card-header>
          System message
          <app-required-star />
        </mat-card-header>
        <mat-card-content>
          <div class="reset-button-container">
            <button
              mat-button
              type="button"
              class="reset-button"
              [class.active]="isResetButtonActiveSystem"
              [tabIndex]="isResetButtonActiveSystem"
              color="primary"
            >
              Przywróć domyślną
            </button>
          </div>
          <mat-form-field class="full-size">
            <textarea
              matInput
              placeholder="Podstawowa wiadomość przekazywana do serwisu AI"
              formControlName="systemMessage"
            ></textarea>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          Pytania użytkownika
          <app-required-star />
        </mat-card-header>
        <mat-card-content>
          <div class="reset-button-container">
            <button
              mat-button
              type="button"
              class="reset-button"
              [class.active]="isResetButtonActiveUser"
              [tabIndex]="isResetButtonActiveUser"
              color="primary"
            >
              Przywróć domyślne
            </button>
          </div>
          <mat-form-field class="full-size">
            <textarea
              matInput
              placeholder="Pytanie 1"
              formControlName="userMessage1"
            ></textarea>
          </mat-form-field>
          <mat-form-field class="full-size">
            <textarea
              matInput
              placeholder="Pytanie 2"
              formControlName="userMessage2"
            ></textarea>
          </mat-form-field>
          <mat-form-field class="full-size">
            <textarea
              matInput
              placeholder="Pytanie 3"
              formControlName="userMessage3"
            ></textarea>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </form>
    <div class="buttons-container">
      <div>
        <button mat-button type="button" (click)="prevPage()">Wróć</button>
      </div>
      <div>
        <button
          mat-raised-button
          type="button"
          color="primary"
          [disabled]="disabledNextPage()"
          (click)="fetchGptAnswers()"
        >
          Dalej
        </button>
      </div>
    </div>
  </div>
  <div class="page-container">
    <form [formGroup]="nsaFormPart3" (ngSubmit)="fetchAdditionalAnswer()">
      <mat-card>
        <mat-card-header> Postęp odpowiedzi od AI </mat-card-header>
        <mat-card-content class="divided-card">
          <div class="progress-container">
            @for (progress of nsaService.gptAnswersProgress(); track $index) {
            <div class="progress-indicator">
              <div class="loading-icon" [class]="'is-loaded-'+progress">
                @if (progress === true) {
                <app-icon icon="check_circle" />
                } @else if (progress === 'ERROR') {
                <app-icon icon="cancel" />
                } @else {
                <mat-spinner />
                }
              </div>
              Pytanie {{ $index + 1 }}
            </div>
            @if (nsaService.areGptAnswersError()) { Wystąpił niespodziewany
            błąd. } }
          </div>
          <div class="checkbox-container">
            <mat-checkbox
              (change)="onShowImmediatelyChange($event.checked)"
              [disabled]="wasShowGptResultsImmediatelyChangedDuringPending()"
              [checked]="showGptResultsImmediately()"
              >Wyświetl od razu</mat-checkbox
            >
          </div>
        </mat-card-content>
      </mat-card>
      @if ((nsaService.areGptAnswersReady() && !nsaService.areGptAnswersError())
      || (showGptResultsImmediately() &&
      nsaService.isAtLeastOneGptAnswerReady())) { @for (response of
      nsaService.gptAnswersResponse(); track response) {
      <mat-card>
        <mat-card-header>
          Odpowiedź na pytanie {{ $index + 1 }}
        </mat-card-header>
        <mat-card-content>
          @if (nsaService.gptAnswersProgress()[$index]) {
          <markdown> {{ response }} </markdown>
          } @else {
          <mat-spinner />
          }
        </mat-card-content>
      </mat-card>
      } @if( nsaService.areGptAnswersReady() && !nsaService.areGptAnswersError()
      ) {
      <mat-card>
        <mat-card-header> Zadaj AI dodatkowe pytanie </mat-card-header>
        <mat-card-content>
          Na podstawie poniższego orzeczenia Naczelnego Sądu Administracyjnego
          napisz proszę jak NSA uargumentował:
          <mat-radio-group
            aria-label="Wybierz opcję"
            formControlName="additionalQuestion"
          >
            <mat-radio-button [value]="additionalQuestions[0].value"
              >{{ additionalQuestions[0].label }}</mat-radio-button
            >
            <mat-radio-button [value]="additionalQuestions[1].value"
              >{{ additionalQuestions[1].label }}</mat-radio-button
            >
          </mat-radio-group>
          <mat-card-actions>
            <div [matTooltip]="getAdditionalAnswerButtonTooltip()">
              <button
                mat-flat-button
                color="primary"
                type="submit"
                [disabled]="nsaService.isAdditionalAnswerLoading() || !this.nsaFormPart3.valid || !nsaFormPart3.dirty"
              >
                Zapytaj
              </button>
            </div>
            @if (nsaService.isAdditionalAnswerLoading()) {
            <div class="spinner-container">
              <mat-spinner />
            </div>
            }
          </mat-card-actions>
          @if (nsaService.additionalAnswerResponse() &&
          !nsaService.isAdditionalAnswerLoading()) {
          <mat-card-footer>
            <strong>Odpowiedź od AI:</strong>
            <markdown> {{ nsaService.additionalAnswerResponse() }} </markdown>
          </mat-card-footer>
          }
        </mat-card-content>
      </mat-card>
      } } @for (control of nsaFormPart3.controls.unrelatedQuestions.controls;
      track $index) {
      <mat-card>
        <mat-card-header>Niezależne pytanie</mat-card-header>
        <mat-card-content>
          <mat-form-field class="full-size">
            <textarea
              matInput
              placeholder="Tu wpisz pytanie do AI"
              [formControl]="control"
              [class.hidden]="hasClickedFetchUnrelated($index)"
            ></textarea>
            @if (hasClickedFetchUnrelated($index)) {
            <div>{{ control.value }}</div>
            }
          </mat-form-field>
          @if (!unrelatedLoaded($index)) {
          <div class="search-button-container">
            <button
              mat-flat-button
              color="primary"
              type="submit"
              [disabled]="!control.value || unrelatedLoading($index)"
              (click)="onUnrelatedQuestionButtonClick($index, control)"
            >
              Zapytaj
            </button>
            @if (unrelatedLoading($index)) {
            <mat-spinner />
            }
          </div>
          } @if (unrelatedLoaded($index)) {
          <markdown>
            {{ nsaService.unrelatedQuestionsResponses()[$index] }}
          </markdown>
          }
        </mat-card-content>
      </mat-card>
      } @if (isVisibleAddButton()) {
      <button class="add-question-btn" (click)="onAddButtonClick()">
        <mat-icon fontIcon="add" />
        <span>Dodaj niezależne pytanie</span>
      </button>
      }
    </form>
    <div class="buttons-container">
      <div>
        <button mat-button type="button" (click)="prevPage()">Wróć</button>
      </div>
      @if (nsaService.areGptAnswersReady()) {
      <div>
        <button
          mat-button
          type="button"
          color="primary"
          (click)="onClickResetButton()"
        >
          Zacznij od nowa
        </button>
      </div>
      }
    </div>
  </div>
</div>
