<div class="header-row">
  <div class="signature">Sygnatura</div>
  <div class="summary">Podsumowanie treści orzeczenia</div>
  <div class="solved">Status</div>
  <div class="start-date"><abbr title="Data wszczęcia postępowania">Data wszcz. post.</abbr></div>
  <div class="limitation-date"><abbr title="Data przedawnienia terminu podatku">Data przed. term. pod.</abbr></div>
  <div class="is-related"><abbr title="Czy jest nawiązanie do orzeczenia NSA z 2021 roku?">NSA 2021</abbr></div>
  <div></div>
</div>
<div class="signature-browser">
  @for (dataItem of nsaService.signatureBrowserData(); track $index) {
    <div class="list-row" (click)="onLoadDataClick(dataItem.signature)">
      <div class="signature">
        {{ dataItem.signature }}
      </div>
      <div class="summary">
        {{ dataItem.summary }}
      </div>
      <app-chip class="solved" [color]="dataItem.solved === null ? 'none' : dataItem.solved ? 'green' : 'orange'">
        @if (dataItem.solved === true) {
          Rozstrzygnięto
        } @else if (dataItem.solved === false) {
          Przekazano
        } @else {
          Nieznany
        }
      </app-chip>
      <div class="date-container">
        {{ dataItem.procedureStartDate || '—' }}
      </div>
      <div class="date-container">
        {{ dataItem.limitationDate || '—' }}
      </div>
      @if (dataItem.isRelated === null) {
        <div>—</div>
      } @else {
        <app-chip [color]="dataItem.isRelated ? 'green' : 'red'">{{ dataItem.isRelated ? 'Tak' : 'Nie' }}</app-chip>
      }
      <div class="action">
        <button
          mat-button
          [disabled]="nsaService.signatureExtendedDataLoading()"
          [class.clicked-loading]="nsaService.signatureExtendedDataLoading() === dataItem.signature"
        >
          Załaduj
        </button>
        @if (nsaService.signatureExtendedDataLoading() === dataItem.signature) {
          <mat-spinner />
        }
      </div>
    </div>
  }
</div>
@if (nsaService.signatureBrowserDataLoading()) {
  <div class="spinner-container">
    <mat-spinner />
  </div>
}
